// Body
$body-bg: #f8fafc;

$black: #010101;
$gold: #ffb81c;

// Typography
$title-font-family-sans-serif: 'black_ops_oneregular', sans-serif;

$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$modal-width: 40rem;
