// Fonts
@import url("https://fonts.bunny.net/css?family=Nunito");
@font-face {
    font-family: "black_ops_oneregular";
    src: url("/resources/fonts/Black_Ops_One/blackopsone-regular-webfont.woff2")
            format("woff2"),
        url("/resources/fonts/Black_Ops_One/blackopsone-regular-webfont.woff")
            format("woff");
    font-weight: normal;
    font-style: normal;
}

// Variables
@import "variables";

// Bootstrap
@import "bootstrap/scss/bootstrap";

.shopping-list-container {
    max-width: $modal-width;
    margin: ($spacer * 2) auto;

}

body {
    background: $black url(https://www-league.nhlstatic.com/images/logos/teams-current-primary-light/5.svg) ;
    background-position: 50% 0;
    background-size:100%;
}

.application {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(1,1,1,0.7);
    color: $white;
}

.app-bar {
    font-family: $title-font-family-sans-serif;
    background: $gold !important;
    color: $black;
    border-bottom: 0.5rem $black solid !important;
    outline: 0.75rem $white solid !important;
    .v-toolbar-title {
        padding: 0 $spacer;
        text-transform: uppercase;
    }
}

.branded-title {
    font-family: $title-font-family-sans-serif;
    text-transform: uppercase;
    background: $gold !important;
    color: $black;
    border-bottom: 0.5rem $white solid !important;
    outline: 0.75rem $black solid !important;
    margin-bottom: $spacer * 2;
}

.shopping-lists {
    max-width: $modal-width;
    margin: ($spacer * 2) auto;
}

.edit-title-modal {
    max-width: $modal-width;
}

.delete-modal {
    max-width: $modal-width;
}

.shopping-list-item {
    .v-list-item__content {
        padding-left: $spacer;
    }
}

.btn-primary {
    background: $gold;
    color: $black;
    font-weight: bold;
}

.btn-secondary {
    background: $black;
    * {
        color: $gold;
    }
}

.btn-edit {
    background: inherit;
    padding: 0 !important;
    width:1rem!important;
    margin-left:0!important;
}

.no-gutters {
    margin: 0 !important;
    padding: 0 !important;
}

.btn-close {
    padding: 0;
    margin:0 $spacer 0 0;
}
